@import url("https://fonts.googleapis.com/css?family=Raleway:400,300,700,500");

body {
  font-family: "Raleway", sans-serif !important;
}

.content {
  /*max-width: 936px;*/
  margin: auto;
  margin-top: 15%;
}

.container {
    padding-bottom: 5%;
}

.card-form {
    color: rgb(6, 115, 158);
    background-color: rgba(6, 115, 158, 0.1);
    border-color: rgb(6, 115, 158);
}

.card-project {
    color: rgb(143, 52, 0);
    background-color: rgba(143, 52, 0, 0.1);
    border-color: rgba(143, 52, 0, 0.5);
}

.card-project :hover{
    background-color: rgba(143, 52, 0, 0.15);
}

.card-title {
    font-weight: 500;
}

.form-group {
  column-count: 2;
  column-gap: 2rem;
  list-style: none;
}
