{% extends "base.html" %}

{% block content %}

<div class="row justify-content-center content" xmlns="http://www.w3.org/1999/html">
  <div class="col-lg-6">

    <h1 class="text-center">Data Science @ IFCA</h1>

    <p class="pt-5 pb-3">
      This page gathers all Data Science and Deep Learning applications developed at
      <a href="https://ifca.unican.es/">IFCA</a> by the
      <a href="https://computing.ifca.es">
      Advanced Computing and e-Science Group</a>.
    </p>

    <p>
      <a class="btn btn-info" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
        <i class="far fa-sliders-h"></i> <span class="ml-1">Filter</span>
      </a>
    </p>
    <div class="collapse" id="collapseExample">
      <div class="card card-body card-form">

        <form action="{{ url_for('home') }}" method="post" enctype="application/x-www-form-urlencoded">

          <b>Areas</b>
          <div class="form-group">
            {% for area in filters['areas'] %}
            <div class="form-check">
              <input class="form-check-input" type="checkbox" name="area-{{ area }}">
                {{ area }}
            </div>
            {% endfor %}
          </div>

          <b>Tags</b>
          <div class="form-group">
            {% for tag in filters['tags'] %}
            <div class="form-check">
              <input class="form-check-input" type="checkbox" name="tag-{{ tag }}">
              {{ tag }}
            </div>
            {% endfor %}
          </div>

          <b>Other</b>
          <div class="form-group">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" name="ongoing">
              ongoing projects
            </div>
          </div>

        <button type="submit" class="btn btn-info mt-3">Submit</button>
        </form>

      </div>
    </div>


  </div>
</div>

{% set icons = {'physics': 'atom',
                'satellites' : 'satellite',
                'healthcare': 'clinic-medical',
                'biodiversity': 'leaf',
                'computing': 'network-wired',
} %}

<div class="card-deck justify-content-center pt-5">
{% for pname, p in projects.items() %}
  <div class="col">
    <div class="card card-project mb-5 hover-shadow" style="width: 18rem;">
      <div class="card-header">
        <span style="font-size:0.9em;">
          {{ p['start'] }} -
          {% if p['end'] == 'ongoing' %}
            <span class="badge badge-secondary"> Ongoing </span>
          {% else %}
            {{ p['end'] }}
          {% endif %}
          <div class="float-sm-right">
          {% for area in p['areas'] %}
            <i class="fas fa-{{ icons[area] }}"></i>
          {% endfor %}
          </div>
        </span>
      </div>
      <div class="card-body">
        <h5 class="card-title">{{ p['title'] }}</h5>
        <p class="card-text">
          {% autoescape false %}
          {{ p['description'][:80] }} [...]
          {% endautoescape %}
        </p>
        <a href="{{ url_for('project', name=pname) }}" class="stretched-link"></a>
      </div>
    </div>
  </div>
{% endfor %}
</div>

{% endblock %}
